@media screen and (max-width: 576px) {
    header > h1 {
        font-size: 1.8em;
    }

    main {
        width: 90vw;
        height: 90vh;
    }

    main > h1 {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 750px) {
    header > h1 {
        width: 90vw;
    }
}